<h2>List of all savings</h2>

<br>

<%= link_to 'New Savings' , new_saving_path%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> Value</th>
    </tr>
  </thead>

<tbody>
<% @savings.each do |saving| %>
<tr>
   <td><%= saving.name %></td>
   <td><%= saving.value %></td>
   <td><%= link_to 'Show Savings' , new_saving_path%> </td>
</tr>
<% end %>
</tbody>
</table>
